{% extends 'base.html' %} 
{% load static %} 

{% block title %}Ecomsys homepage{% endblock %} 

{% block content %}
<!-- Add your specific content here -->

<h1>Search product</h1>
<div class="search_bar">
  <form id="searchForm" action="{% url 'search' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="searchType">Choose search type:</label>
    <select id="searchType" name="searchType">
      <option value="text" {% if search_type == 'text' %}selected{% endif %}>Text</option>
      <option value="image" {% if search_type == 'image' %}selected{% endif %}>Image</option>
      <option value="voice" {% if search_type == 'voice' %}selected{% endif %}>Voice</option>
    </select>

    <label for="textSearch">Search by text:</label>
    <input
      type="text"
      id="textSearch"
      name="textSearch"
      placeholder="Enter text"
    />

    <label for="imageSearch">Search by image:</label>
    <input type="file" id="imageSearch" name="imageSearch" accept="image/*" onchange="previewImage(this)"/>
    <!-- Image preview container -->
    <div id="imagePreviewContainer">
      <img id="imagePreview" src="#" alt="Image Preview" style="display: none;">
    </div>

    <label for="voiceSearch">Search by voice:</label>
    <input
      type="text"
      id="voiceSearch"
      name="voiceSearch"
      placeholder="Speak into the microphone"
      readonly
    />

    <button id="recordingButton" type="button" onclick="startVoiceRecognition()">
      Start Recording
    </button>

    <button type="submit">Search</button>
  </form>
</div>

<!-- Table to display list of -->
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th> <!-- New column for Add to Cart button -->
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>
            <img src="{{ MEDIA_URL }}{{ product.image.url }}" 
            alt="{{ product.name }}"
            class="product-image">
        </td>
        <td>{{ product.type }}</td>
        <td>{{ product.quantity }}</td>
        <td>${{ product.price }}</td>
        <td>
          <form method="POST" action="{% url 'show_cart' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit" name="action" value="add">Add to Cart</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/product/home.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'scripts/product/home.js' %}"></script>
{% endblock %}