<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <title>{% block title %}Bookstore{% endblock %}</title>
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header class="fixed-header">
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="{% url 'show_cart' %}">Shopping Cart</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <!-- Your website content goes here -->
    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
  </body>
</html>
